html,
body,
*  
{
font-family: "Playfair Display", serif;
text-align: center;
z-index: 1;
position: relative;
text-align: center;
}

:root {
  /* Colors*/
  --black: #000;
  --dark-brown: #381c06;
  --light-brown: #7f4a22;
  --white: #f4e5c4;

  /*Intentions */
  --primary: var(--white);
  --secondary: var(--light-brown); 
  --tertiary:var(--dark-brown);
  /*Default colors*/

  /*Typography */
  --h1: 6.594rem;
  --h2: 2.5rem;
  --h3: 1.5rem;
  --h4: 1rem;


}

.light {
  --primary: var(--white);
  --secondary: var(--light-brown); 
  --tertiary:var(--dark-brown);
}
.dark {
  --primary:var(--black);
  --secondary: var(--white); 
  --tertiary:var(--black)
}

#background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url(https://i.ytimg.com/vi/DyJTVkRP1vY/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
  margin: 0;
  padding: 0;
}

h1 {
  height: 10vh;
  margin:0;
  font-size: var(--h1);
  color: var(--secondary);
  text-shadow: 0.35rem 0.1rem var(--tertiary);
  padding: 2rem;

}


.themebtn,
.themebtn:link,
.themebtn:visited {
  position:;
  text-transform: uppercase;
  width:9rem;
  text-decoration: none;
  padding: 1rem 3rem;
  margin: 3rem 2rem;
  font-size: var(--h4);
  border: none;
  font-weight: bold;
  background-color: var(--primary);
  color:var(--secondary);
  border: solid var(--secondary) 0.2rem;
  border-radius: 10rem;
  transition: all 0.2s;
}

.themebtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  width:9rem;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  margin: 3rem 1rem;
  font-size: var(--h4);
  border: none;
  font-weight: bold;
  background-color: var(--primary);
  color:var(--secondary);
  border: solid var(--secondary) 0.2rem;
  border-radius: 10rem;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}

#container {
  width: 100%;
  filter: none;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.menu-item {
  padding:1rem;
  color: var(--secondary);
  border: 0.2rem solid var(--secondary);
  width: 20%;
  margin: 1rem;
  background-color: var(--primary);
  font-size: var(--h3);
  border-radius: 2rem;
  position: relative;
  text-shadow: 0.1rem 0.1rem 0.3rem var(--tertiary);
}

.item-properties {
  font-size: var(--h4);
  margin-bottom: 2rem;
  text-shadow:none;

}

.images {
  width: 100%;
  aspect-ratio: 16 / 12;
  object-fit: cover;
  margin: 0;
  border: 0.15rem solid var(--secondary);
  border-radius: 1.8rem;
}

.gif-container {
  position:absolute;
  display: flex;
  justify-content: space-between;
  padding:2rem;
  width: 100vw;  /* Adjust to the width of your GIF */
  height: 10vw; /* Adjust to the height of your GIF */
}

/* Make sure the gif is displayed as is */
.gif {
  height: auto;
  padding-bottom: 2rem;
}