html,
body,
*/:root {
  font-family: "Vujahday Script", cursive;
  font-size: 10px;
  text-align: center;
  display: flex;

  color: rgb(0, 0, 0);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



#background {
  background-attachment:fixed;
  height: 100vh;
  width: 100vw;
  background-image: url(https://i.ytimg.com/vi/DyJTVkRP1vY/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
  /* Place it behind the content */
}

h1 {
  font-size: 5rem;
  color: rgb(255, 255, 255);
}

#container {
  width: 100%;
  filter: none;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.menu-item {
  color: rgb(61, 38, 4);
  border: 0.2rem solid rgb(61, 38, 4);
  width: 20%;
  padding: 1rem;
  margin: 2rem;
  background-color: rgba(255, 255, 255, 0.778);
  font-size: 2rem;
  border-radius: 2rem;
}

.item-properties {
  font-size: 1.5rem;
}

.image {
  width: 100%;

}

/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/*  */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */